@import "../../utilities";

.header-content {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  .header-text {
    padding-top: 4rem;
    min-width: 670px;
    font-size: 5rem;
    color: $color-dark-blue;
    line-height: 5.5rem;
  }
}

@media (max-width: 1150px) {
  .header-content {
    .header-text {
      min-width: 620px;
    }
    .header-image {
      align-self: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
